{:kotoba.app/id "cloud.itonami.isic-2511", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig3tobdhdpyegt6f5s7jg45o3chj2dlkkorgmdhwm5cyte5pizyiq", :kotoba.app/embed-url "ipfs://bafkreig3tobdhdpyegt6f5s7jg45o3chj2dlkkorgmdhwm5cyte5pizyiq", :published {:archive "https://kotobase.net/ipfs/bafkreig3tobdhdpyegt6f5s7jg45o3chj2dlkkorgmdhwm5cyte5pizyiq", :size 72542, :put-status 201, :get-status 200, :at "2026-08-15T13:32:08.090Z"}}
